extends ../layout

block content
  h1= message
    
  a(href= '/database/list/' ) 
    p Back to database list 

//  div
//    form(method='post')
//        p Name:
//        input(type='text',name='name',id='name')        
//        input(type='submit',name='submit',value='Submit')
        
       