extends ../layout

block content
  h1= message

    ul
  - for (var t in tables)
    li= tables[t].name
      a(href= '/database/edit/' + resource + '/' + tables[t].name) 
        'edit'  
      
      /
      
      a(href= '/database/view/' + resource + '/' + tables[t].name) 
        'view'  
  br
       
  form(method='post')
    p Add a new table: 
    input(type='text',name='table_name',id='table_name')        
    input(type='submit',name='submit',value='Submit')
  br        